[submodule "vim_files/bundle/solarized"]
	path = vim_files/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim_files/bundle/vim-ruby"]
	path = vim_files/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
